
<h1>Edit team</h1>
<% if @team.errors.any? %>
  <div id="error_explanation">
  <div class = "alert alert-danger">
    <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

    <ul>
    <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>

  <div class="row">
<div class="form-group">
<%=  bootstrap_form_for @team do |f| %>
  <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
   <%= f.text_field :title, :placeholder => "Team Name"%>
   <%= f.text_field :desc, :placeholder => "Team Description", label: "Description" %>
   <%= f.text_field :loc, :placeholder => "Team Location", label: "Location" %>
   </div>
   <div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
   <%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>
   <%= f.submit :class=>'btn btn-primary'%>
   </div>

<% end %>

</div>
</div>
